NEXTAUTH_URL=http://localhost:3000

SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

GOOGLE_ID=
GOOGLE_SECRET=


DATABASE_URL=sqlite://localhost/:memory:?synchronize=true

NEXT_PUBLIC_REQ_URL="http://ec2-13-233-112-208.ap-south-1.compute.amazonaws.com:8000/"